/* Main Content */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #748b91; 
    display: flex;
    flex-direction: column;
    height: 100%;
}

body.dark-mode {
    background-color: #121212;
}


/* Main content container */
.main-content {
    text-align: center;
    padding: 20px;
    flex: 1;
}

body.dark-mode .main-content{
    background-color: #121212;
}

/* Quote Section */
.quote-section {
    text-align: center;
    background: rgba(255, 255, 255, 0.2); 
    padding: 15px 30px;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 80%;
    font-size: 22px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: #333; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Dark Mode Styling */
body.dark-mode .quote-section {
    background: rgba(0, 0, 0, 0.5); 
    color: #fff; 
}


/* Slideshow Section */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;  
    background-color: #f4f4f471;
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Slide images */
.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}


/* Caption text */
.text {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: #fff;
    font-size: 20px; 
    text-align: center;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
}

/* Navigation buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10; 
}

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 10px; 
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fade animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Features Section */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.feature-box {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature-box img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.feature-box p {
    margin: 10px 0;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #007BFF;
}

.contact-info p {
    margin: 5px 0;
}

/* Product Card Styles */
.product-cards {
    background-color: #c1d1cf;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark-mode .product-cards {
    background: linear-gradient(135deg, #121212, #333333); 
    color: white;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1); 
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

body.dark-mode .card {
    background-color: #444; 
    border-color: #555; 
    color:white;
}

body.dark-mode .card p{
    color:white;
}

body.dark-mode .card h1{
    color:white;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.card h1 {
    font-size: 18px;
    color: #333;
}

.card .price {
    color: green;
    font-size: 16px;
}

.card p {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}
